/*!
Theme Name: emagid
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: emagid
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

emagid is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# HIDDEN
# DEFAULTS
# WOOCOMMERCE
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# HIDDEN
--------------------------------------------------------------*/
/*
ul.sub-menu {
    display: none;
}
*/

.term-description {
    text-align: center;
    
    padding-top: 30px;
    padding-bottom: 30px;
}
.term-description p {
    font-size: 20px;
    line-height: 1.5em;
    color:#82255e;
    
    font-weight: 300 !important;
    letter-spacing: 1px;
        width: 95%;
    max-width: 1200px;
    margin-left:auto;
    margin-right: auto;
}


/*--------------------------------------------------------------
# DEFAULTS
--------------------------------------------------------------*/
html {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color:#484a4c;
}

body {
	margin: 0;
    background-color:#fff;
}
a, h1, h2, h3, h4, h5, h6 {
    color:#484a4c;
}
a {
    text-decoration: none;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.site_reset {
    padding-top: 120px;
    width: 100%;
    margin: 0 auto;
}
a.button_std {
    background: #b93b6a;
        text-transform:uppercase;
    color:#fff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-align: center;
    padding: 15px 40px;
    margin: 0;
    transition: background 0.5s ease-in-out;
}
a.button_std:hover {
    background: rgba(185, 59, 106, 0.9);
}

/*--------------------------------------------------------------
# WOOCOMMERCE
--------------------------------------------------------------*/

.products_featured .wrapper {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}
.products_featured {
    text-align: center;
} 

.woocommerce .woocommerce-breadcrumb,
p.woocommerce-result-count,
form.woocommerce-ordering,
.woocommerce ul.products li.product .star-rating,
.product_meta,
.woocommerce-tabs.wc-tabs-wrapper {
    display: none !important;
}
/*
.woocommerce .products ul, .woocommerce ul.products {
    margin: 0 !important;
}
*/
.woo_archive {
    overflow: hidden;
}
.woo_archive,
.products_featured{
    background-color: #f7f7f7;
    position: relative;
}
a.button.product_type_simple.ajax_add_to_cart {
    background: #b93b6a;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-align: center;
    padding: 15px 40px;
    margin: 0;
    border-radius: 0 !important;
    transition: background 0.5s ease-in-out;
}


a.button.product_type_simple.ajax_add_to_cart:hover {
    background:rgba(185, 59, 106, 0.9);
}
.woo_archive ul.products {
    padding-top: 100px;
    width: 90%;
/*    width: 78%;*/
/*    margin-right: 2%;*/
    margin-left: auto;
    margin-right: auto;
}

.woo_archive ul.products li.product,
.products_featured ul.products li.product,
.woo_archive article{
    background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    width: calc(29.3% - 50px) !important;
    margin-left: 2%;
    margin-right: 2%;
    padding: 25px;
    text-align: center;
    transition: background-color 0.5s ease;
}
.woo_archive.search {
    padding-top: 50px;
}
.woo_archive.search h1.page-title {
    display: none;
}
.woo_archive article {
    float: left;
    height: 445px;
    margin-bottom: 30px;
}
.woo_archive article h2.entry-title a{
    color: #2a101b;
    font-weight: 300 !important;
    text-transform: capitalize;
}
.woo_archive article footer.entry-footer,
.woo_archive article .entry-summary{
    display: none;
}
.woo_archive article img {
    width: 100%;
    height: auto;
}

@media screen and (max-width:750px) { 
.woo_archive ul.products li.product, .products_featured ul.products li.product {
        width: 100% !important;
    }
}
.woo_archive ul.products li.product:hover {
    background-color: rgba(255, 255, 255, 0);
}

.woocommerce .products .star-rating {
    text-align: center;
    margin: 0 auto 20px;
}
.woocommerce .star-rating span,
.woocommerce .star-rating:before{
    float: none;
    left:0;
    right: 0;
    margin: auto;
}

.woocommerce ul.products li.product .price,
.products_featured ul.products li.product .price{
    font-size: 20px;
    color:#82255e;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin-bottom: 0;
    line-height: 1.5em;
}
.woocommerce ul.products li.product h3,
.products_featured ul.products li.product h3{
    color:#606060;
    font-family: 'Merriweather', serif;
    text-transform: uppercase !important;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    font-weight: 300;
    height: 48px;
    line-height: 1.5em;
    text-transform: capitalize;
}
div#sticker-sticky-wrapper {
/*    position: absolute;*/
}
.side_filters {
    max-width:250px ;
    position: absolute;
    background-color: #fff;
    height: 100%;
    pointer-events: none;
}

aside#filters {
    display: none;
    min-width: 200px;
    max-width:200px;
    position: absolute;
    background-color: #fff;
    height: 100%; 
    top:0;
    padding-top: 50px;
    padding-left: 30px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}
.tax-product_cat aside#filters {
    display: block;
    display: none;
}
aside#filters h2{
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #402933;
    font-weight: 300;
    margin-bottom: 40px;
}

aside#filters h3 {
        font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #402933;
    font-weight: 400;
    margin-bottom: 10px;
}

aside#filters .berocket_aapf_widget label {
        color: #606060;
    font-family: 'Merriweather', serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 300;
    margin-top: 0;
}
.berocket_aapf_widget input[type="checkbox"] + label:before {
    margin-right: 5px;
}

aside#filters .berocket_aapf_widget input[type="button"] {
       -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
        background: #402933;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-align: center;
    padding: 15px 40px;
    margin: 0;
    border:0;
    border-radius: 0 !important;
    transition: background 0.5s ease-in-out;
}


}

/*FEATURED PRODUCTS*/

.products_featured .wrapper{
    padding-top: 100px;
    padding-bottom: 140px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.products_featured h2 {
        font-size: 32px;
    letter-spacing: 2px;
    line-height: 1.5em;
    text-transform: uppercase;
    color: #2a101b;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 50px;
}
.products_featured ul.products li.product:hover {
    background-color: rgba(255, 255, 255, 0);
}
.products_featured .picks {
    margin-bottom: 100px;
}
.woocommerce span.onsale {
    background-color:#82255e !important;
}


/*SINGLE PRODUCT*/
.woo_single .woocommerce-product-rating .star-rating {
    float: none !important;
    margin: 0 auto !important;
}
.woo_single {
    background-color: rgba(42, 16, 27, 0.10);
}
.woo_single span.onsale {
    display: none;
}
.woo_single .images {
    margin: 0 auto !important;
    text-align: center !important;
    width: 55% !important;
        padding-bottom: 50px;
    padding-top: 50px;
/*    background: rgba(42, 16, 27, 0.10);*/
}
.woo_single .images img {
    width: 70% !important;
    max-width: 600px !important;
    margin: 0 auto;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px !important;
}
.woo_single .summary {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  width: 43% !important; 
    margin-right: 2%;
/*        background-color: rgba(42, 16, 27, 0.10);*/
/*        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 3px, rgba(0, 0, 0, 0.05) 0px 1px 2px;*/
    
}
.woo_single .summary h1.product_title {
    color:#2a101b;
    font-weight: 400 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    line-height: 1.25em;
}

.woo_single .summary p.price {
    text-transform: uppercase;
    color: #2a101b !important;
    font-size: 30px !important;
    letter-spacing: 1.5px;
    text-align: center;
}
.woocommerce div.product p.price ins {
    text-decoration: none;
    font-weight: 300;
}
.woocommerce div.product form.cart .button {
    float: none;
}
.woo_single .summary div[itemprop="description"] p {
    color:rgba(42, 16, 27, 0.65);
    font-family: 'Merriweather', serif;
        width: 95%;
    font-weight: 100;
    line-height: 1.35em;
    font-size: 16px;
}
.woo_single div.product form.cart .button {
        margin-top: 0;
    margin-bottom: 10px;
    padding-top: 12px;
}
.woo_single .woocommerce-variation-price {
    margin-bottom: 20px;
}
.woo_single div.product span.price {
        color: #2a101b;
    font-weight: 100 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    max-width: 450px;
    line-height: 1.25em;
    font-size: 26px !important;
}
.woo_single .star-rating span, .woo_single .star-rating:before {
    color:#b93b6a;
}

.woo_single a.woocommerce-review-link {
    font-size:13px;
    color:rgba(185, 59, 106, 0.7);
    font-family: 'Merriweather', serif;
}

.woo_single button.single_add_to_cart_button {
        background: #b93b6a !important;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 15px 40px 14px;
    margin: 0;
    border-radius: 0;
    font-family: 'Josefin Sans', sans-serif !important; 
    outline:0;
}
.woo_single div.product form.cart .variations select{
    border: 1px solid #d3ced2 !important;
    width: 100%;
    max-width: 250px;
    height: 35px !important;
    text-transform: capitalize;
    font-size: 14px;
    padding: 5px;
    border-radius: 0 !important;
    color: #484a4c !important;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
}

.woo_single div.product form.cart .variations td.label {
    display: none;
}
.woo_single form.cart {
    margin-top: 0 !important;
    margin-bottom: 10px !important;
}
.woo_single .quantity {
    float: none !important;
    display: inline-block;
}
/*NEWSLETTER*/ 
    .allmsgs {
    text-align: center;
    width: 70%;
    margin: 40px auto 0;

}
.woo_single .quantity input.qty {
    height: 37.5px;
        color: #2a101b;
    font-weight: 400 !important;
    font-size: 24px;
    background: rgba(255, 255, 255, 0.35);
    border:0;
}
.woo_single .product_info {
    width: 100%;
    clear: both;
    overflow: hidden;
    padding-top: 25px;
    padding-bottom: 100px;
}
.woo_single .product_info .video_reveal {
    height:100px;
    background: #b93b6a;
    display: flex;
    align-items: center;
    justify-content: center;
}
.woo_single .product_info .video_reveal h3 {
        font-size: 28px !important;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #fff !important;
    font-weight: 300;
}
.woo_single .product_info .wrapper {
    width: 80%;
    margin: 0 auto;
}

.woo_single .product_info .info_box {
    width: 33.3%;
    margin: 0 auto 50px;
    text-align: center;
    border-bottom: 1px solid rgba(42, 16, 27, 0.45);
}
.woo_single .product_info .info_content ul li {
    line-height: 2em;
}
.woo_single  .info_content p strong {
    color: #2a101b;
    font-weight: 400 !important;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 0;
}
.woo_single .info_box p {
    color:#fff;
    width: 100%;
    font-weight: 400;
    line-height: 1.6em;
    font-size: 43px;
    text-decoration: underline;
}

.woo_single .product_reviews {
    width: 100%;
    background: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}
.woo_single .product_reviews .wrapper {
    width: 80%;
    margin: 0 auto;
}
.woo_single .featured_video {
    padding-top: 50px;
}
.woo_single .wp-video {
        width: 70% !important;
    max-width: 600px !important;
    margin: 0 auto;
}

div#reviews div#comments {
    width: 45%;
    float: left;
    padding-right: 5%;
}

div#reviews div#comments ol.commentlist {
    padding: 0 !important;
}
div#reviews div#comments ol.commentlist li .comment-text {
    margin: 0 !important;
    border: 0 !important;
    padding-left: 0 !important;
}
div#reviews div#comments ol.commentlist li .comment-text p.meta {
    font-family: 'Merriweather', serif;
    font-weight: 100;
    line-height: 1.6em;
    font-size: 17px;
}
div#reviews div#comments ol.commentlist li .comment-text p.meta strong {
    color:#b93b6a !important;
    font-size: 16px;
    font-weight: 100 !important;
}
div#review_form_wrapper {
    width: 44%;
    padding-left: 5%;
    float: left;
    border-left: 6px solid #f7f7f7;
}
div#reviews div#comments ol.commentlist li .comment-text .description p { 
    color:rgba(42, 16, 27, 0.65);
    font-family: 'Merriweather', serif;
    font-weight: 100;
    line-height: 1.6em;
    font-size: 17px;
}

h2.woocommerce-Reviews-title,
h3#reply-title{
    font-size: 20px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #2a101b;
    font-weight: 300;
    padding-top: 15px;
    margin-top: 0;
    margin-bottom: 15px !important;
    line-height: 1.5em;
}
#commentform > p.comment-form-rating > p:nth-child(2) {
    display: none;
}

#review_form #respond p {
    margin-top: 10px !important;margin-bottom: 10px !important;
}

#review_form #respond p.comment-form-comment {
    margin-top: 25px !important;
}
#review_form textarea#comment {
    margin-top: 5px;
    border: 2px solid #f7f7f7 !important;
}
#review_form p.comment-form-author input,
#review_form p.comment-form-email input {
        margin-top: 5px;
    border: 2px solid #f7f7f7 !important;
    width: 100%;
    height: 25px;
}

#review_form input#submit {
    background: #b93b6a !important;
    text-transform: uppercase;
    color: #fff !important;;
    font-size: 14px !important;;
    font-weight: 600 !important;;
    letter-spacing: 0.5px !important;;
    text-align: center;
    padding: 15px 40px 14px !important;;
    margin: 0;
    border-radius: 0 !important;
    font-family: 'Josefin Sans', sans-serif !important;
    outline: 0;
}
.related.products {
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
}
.related.products h2 {
        font-size: 24px !important;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #2a101b !important;
    font-weight: 300;
    padding-top: 15px;
    margin-top: 0;
    margin-bottom: 75px !important;
}
.related.products ul {
    width: 90%;
    margin: 0 auto;
}
.related.products ul li {
        background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    width: calc(29.3% - 50px) !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
    padding: 25px !important;
    text-align: center;
}

.woo_single div.product div.images div.thumbnails{
        width: 77%;
    margin: 0 auto;
}


/*CART*/
.woocommerce table.shop_table {

    border-radius: 0 !important;
    padding: 20px;
    /*
    border-left: 0;
    border-right: 0;
*/
    border: 1px solid #9c9c9c;
}
.coupon input.button,
input[name="update_cart"]{
            background: #b93b6a !important;
    text-transform: uppercase;
    color: #fff !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    letter-spacing: 0.5px !important;
    text-align: center;
    padding: 15px 40px 14px !important;
    margin: 0;
    border-radius: 0 !important;
    font-family: 'Josefin Sans', sans-serif !important;
    outline: 0;
}
.woocommerce a.remove {
    color:#484a4c !important;
    font-weight: bold;
}
input#coupon_code {
    display: block;
    float: none;
    width: 100%;
    margin-bottom: 10px;
    height: 35px !important;
    font-size: 14px;
        border: 2px solid #f7f7f7 !important;
        font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: #484a4c;
    text-transform: capitalize;
}
.woocommerce table.shop_table .quantity input {
    height: 37.5px;
    color: #2a101b;
    font-weight: 400 !important;
    font-size: 24px;
    background: transparent;
    border: 0;
}
.cart_totals {
    border: 1px solid #9c9c9c;
    padding: 20px;
}
.cart_totals table.shop_table {
    border: 0;
}
.cart_totals h2{
        font-size: 32px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #b93b6a;
    font-weight: 300;
    margin-bottom: 20px;
}
.cart_totals .wc-proceed-to-checkout a.button {
        background: #b93b6a !important;
    text-transform: uppercase;
    color: #fff !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    letter-spacing: 0.5px !important;
    text-align: center;
    padding: 15px 40px 14px !important;
    margin: 0;
    border-radius: 0 !important;
    font-family: 'Josefin Sans', sans-serif !important;
    outline: 0;
}
.cart_totals tbody th,
table.shop_table th{
    font-size: 16px;
    font-weight: 100 !important;
}
.cart_totals tbody td,
table.shop_table td{
        font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 20px;
}


/*CHECKOUT*/
.woocommerce-info {
    border-top-color:#b93b6a;
}
.woocommerce-info:before {
    color:#b93b6a;
}
form.checkout_coupon {
        border-radius: 0 !important;
    padding: 20px;
    border: 1px solid #9c9c9c;
    overflow: hidden;
}
form.checkout_coupon input.button {
        background: #b93b6a !important;
    text-transform: uppercase;
    color: #fff !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    letter-spacing: 0.5px !important;
    text-align: center;
    padding: 15px 40px 14px !important;
    margin: 0;
    border-radius: 0 !important;
    font-family: 'Josefin Sans', sans-serif !important;
    outline: 0;
    float: right;
}
form.checkout h3 {
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #b93b6a;
    font-weight: 300;
    margin-bottom: 20px;
}
form.checkout label {
    font-size: 16px;
    font-weight: 100 !important;
    font-family: 'Josefin Sans', sans-serif;
}
.woocommerce form .form-row .required {
    color:#484a4c;
    text-decoration: none;
}
.woocommerce-billing-fields input.input-text,
.woocommerce-billing-fields input[type="text"] {
        margin-top: 5px;
    border:1px solid #d3ced2 !important;
    width: 100%;
    height: 35px !important;
    text-transform: capitalize;
    font-size: 14px;
    padding: 5px;
    border-radius: 0 !important;
    color:#484a4c !important;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
}
.woocommerce form .form-row textarea {
    border: 2px solid #f7f7f7 !important;
    font-size: 16px;
    font-weight: 100 !important;
    font-family: 'Josefin Sans', sans-serif;
    height: 75px;
    padding:10px;
}
.woocommerce input#place_order,
input.woocommerce-Button.button{
    background: #b93b6a !important;
    text-transform: uppercase;
    color: #fff !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    letter-spacing: 0.5px !important;
    text-align: center;
    padding: 15px 40px 14px !important;
    margin: 0;
    border-radius: 0 !important;
    font-family: 'Josefin Sans', sans-serif !important;
    outline: 0;
    float: right;
}


@media screen and (max-width:1275px) {
    .site_header .branding {
        width: 150px;
        padding-top: 24px;

    }
    .site_navigation {
                    width: -webkit-calc(100% - 200px);
    width: -moz-calc(100% - 200px);
        width: calc(100% - 200px);
    }
}
@media screen and (max-width:1175px) {
    
    li#wpmenucartli {
        display: none !important;
    }

}
@media screen and (max-width:1000px) {
    .blog_box {
        width: 46%;
    }
}
@media screen and (max-width:750px) {

    .hero .cta h4 {
        max-width: 300px;
        width: auto;
    }

    .hero h2 {
        font-size: 35px !important;
        line-height: 1.3
    }

    .hero p {
        font-size: 18px;
        line-height: 1.5;
    }

    .footer_menus#desktop {
    display: none;
}
.footer_menus#mobile {
    display: block;
}
    .blog_box {
        width: 46%;
    }
    .mobile_hide {
        display: none;
    }
      .hero .cta {
        position: relative;
        right: 0;
          bottom: 0;
    }  
    .hero.hero_lg {
        height: 450px;
    }
    .hero.hero_med {
        height: 300px;
    }
    .hero.hero_sm {
        height: 200px
    }
    .hero h2 {
        text-align: center;
    }
    .social_wall .wallpaper {
        width: 50%;
    }
    .footer_menus > div {
        width: 100%;
        display: block;
        margin: 0 auto;
    }
/*
    .footer_menus ul.menu {
        display: none;
    }
*/
    .footer_menus h5 {
        font-size: 16px;
    }
    .woo_archive ul.products {
        width: 98% !important;
        margin: 0 auto !important;
    }
    .woo_archive ul.products li.product,
    .woo_archive article{
        width: calc(95.3% - 50px) !important;
    }
    #responsive-menu-container .responsive-menu-search-box {
            font-weight: 300 !important;
    color: #000 !important;
        border: 1px solid #cccccc !important;
        border-radius: 0 !important;
        font-size: 12px !important;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
        aside#filters {
        width: 100%;
        max-width: 100%;
        height: auto;
        padding: 0;
    }
    aside#filters .wrapper {
        width: 95%;
        margin: 0 auto;
    }
    aside#filters h2 {
        display: none;
    }
    aside#filters section.widget {
        display: inline-block;
        vertical-align: middle;
        width: 40%;
    }
    #berocket_aapf_widget-3 {
        vertical-align: middle !important;
        text-align: center;
    }

    aside#filters .berocket_aapf_widget input[type="button"] {
        padding: 10px 20px;
    }
    ul.berocket_aapf_widget {
        margin-bottom: 5px;
        margin-right: 0;
    }
    
}

@media screen and (max-width:500px) {
    .woo_single .images {
        padding-top: 0;
    }
    .woo_single .summary p.price {
        padding: 0;
    }
    .woo_single .summary {
        padding-bottom: 0;
    }
    .related.products ul.products li img {
        width: 70% !important;
        margin: 0 auto !important;
    }
    .hero .cta h4 {
        background: transparent;
        border-color:transparent;
    }
    .hero h2 {
        font-size: 28px !important;
    }
    .hero p {
        letter-spacing: 1px;
        margin-top: 0;
    }
    .blog_box {
        width: 100%;
        margin: 0 auto 30px;
        height: 450px;
    }
    .inner_content figure {
        margin: 0;
        float: none;
    }
    .inner_content h1 {
        font-size: 24px;
    }
    .cart_totals tbody td, table.shop_table td {
        font-size: 14px;
    }
    .coupon input.button, input[name="update_cart"] {
        float: none !important;
        width: 100% !important;
    }
    .cart_totals {
        width: 87% !important;
    }
    tr.cart_item td {
        font-size: 14px !important;
    }
    .woocommerce table.shop_table .quantity input {
        font-size: 20px !important;
        height: 20px !important;
    }
    
    
/*    HOMEPAGE*/
    .products_featured .wrapper {
        padding-top: 50px !important;
    }
    .products_featured {
        text-align: center;
    }
    .products_featured ul.products li.product,
    .woo_archive ul.products li.product {
        width: 100% !important;
        margin: 0 auto 50px!important;
        float: none !important;
        padding: 0 !important;
    }
    .collect_four div.hero {
        width: 100%;
        float: none;
    }
    .product_collections {
        min-height: auto;
    }
    .side_filters {
        display: none;
    }
    .woo_single .images,
    .woo_single .images img,
    .woo_single .summary{
        width: 90% !important;
        margin: 0 auto;
    }
    .woo_single .images img {
        width: 80% !important;
    }
    .woo_single .product_info .info_content {
        width: 100%;
    }
    .woo_single .product_info .wrapper {
        width: 95%;
    }
    .woo_single .summary {
        text-align: center !important;
    }
    .woo_single .star-rating {
        margin: 0 auto !important;
    }
    .woo_single form.cart {
        width: 90%;
        margin: 0 auto;
    }
    div#reviews div#comments {
    width: 100%;
    float: none;
    padding-right: 0;
    text-align: center;
}
    .woo_single .product_reviews {
        padding-top: 0;
    }
    div#review_form_wrapper {
    width: 100%;
    padding-left: 0;
    float: none;
    border-left: 0;
    text-align: center;
}
    .related.products ul {
        width: 95%;
        text-align: center;
    }
    .related.products ul.products li {
        float: none;
        width: 100% !important;
        margin: 0 auto 20px !important;
        padding: 0 !important;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    .woocommerce input#place_order, input.woocommerce-Button.button {
        float: none !important;
    }
    .contact_board .board {
        width: 100%;
    }
    .contact_form {
        width: 98%;
    }
    .fusion-one-third {
        width: 100%;
        margin: 0 auto 10px;
    }
    .fusion-layout-column {
        float: none;
    }

}
   

