/*!
Theme Name: emagid
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: emagid
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

emagid is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# HEADER
# FRONT PAGE
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/
@media screen and (max-width:1275px) {
    .site_header .branding {
        width: 150px;
        padding-top: 24px;

    }
    .site_navigation {
                    width: -webkit-calc(100% - 200px);
    width: -moz-calc(100% - 200px);
        width: calc(100% - 200px);
    }
/*
    #mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item > a.mega-menu-link {
        font-size: 12px !important;
    }
*/
}

@media screen and (max-width:1090px) {
    .header_purple > a {
        color: #fff !important;
    }
}

@media screen and (max-width:1090px) {
    div#gtranslate_wrapper {
        right: 5% !important;
    }
    .live_search {
        right: 125px;
    }
}
@media screen and (max-width:1000px) {
    .blog_box {
        width: 46%;
    }
    .site_header .branding {
        padding-top: 0 !important;
    }

}
@media screen and (max-width:750px) {
    .blog_box {
        width: 46%;
    }
    .mobile_hide {
        display: none;
    }
      .hero .cta {
        position: relative;
        right: 0;
          bottom: 0;
    }  
    .hero.hero_lg {
        height: 400px;
    }
    .hero.hero_med {
        height: 300px;
    }
    .hero.hero_sm {
        height: 200px
    }
    .hero h2 {
        text-align: center;
    }
    .social_wall .wallpaper {
        width: 50%;
    }
    .footer_menus > div {
        width: 100%;
        display: block;
        margin: 0 auto;
    }
    .footer_menus ul.menu li {
        font-size: 15px;
        line-height: 1.75em;
        
        text-transform: uppercase;
    }
    .footer_menus ul.menu li a {
        color:#fff;
    }
    .inner_content {
        padding-top: 30px;
    }
    .inner_content h1 {
        display: none;
    }
    .inner_content .top_portion {
        width: 90%;
    }
    .footer_menus h5 {
        font-size: 16px;
    }
    .woo_archive ul.products {
        width: 98% !important;
        margin: 0 auto !important;
    }
    .woo_archive ul.products li.product {
        width: calc(95.3% - 50px) !important;
    }
}

@media screen and (max-width:500px) {
    .live_search {
        display: none;
    }
    .blog_box {
        width: 100%;
        margin: 0 auto 30px;
        height: 450px;
    }
    .inner_content figure {
        margin: 0;
        float: none;
    }
    .inner_content h1 {
        font-size: 24px;
    }
    .cart_totals tbody td, table.shop_table td {
        font-size: 14px;
    }
    .coupon input.button, input[name="update_cart"] {
        float: none !important;
        width: 100% !important;
    }
    .cart_totals {
        width: 87% !important;
    }
    tr.cart_item td {
        font-size: 14px !important;
    }
    .woocommerce table.shop_table .quantity input {
        font-size: 20px !important;
        height: 20px !important;
    }
    
    
/*    HOMEPAGE*/
    .products_featured .wrapper {
        padding-top: 50px !important;
    }
    .products_featured ul.products li.product,
    .woo_archive ul.products li.product {
        width: 100% !important;
        margin: 0 auto 50px!important;
        float: none !important;
        padding: 0 !important;
    }
    .collect_four div.hero {
        width: 100%;
        float: none;
    }
    .product_collections {
        min-height: auto;
    }
    .woocommerce.columns-3 {
        
    }
    .woo_single {
        padding-top: 60px;
    }
}
    
