/*!
Theme Name: emagid
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: emagid
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

emagid is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# HEADER
# FRONT PAGE
--------------------------------------------------------------*/

.header_purple > a {
    color:#b93b6a !important;
}
.live_search {
    position: absolute;
    top:10px;right:260px;
}
.live_search input#s {
    height: 20px;
    border: 0;
    border-bottom:1px solid #484a4c;
    outline:0;
    width: 150px;
}
.live_search input#s:focus {
    border-color:#000;
}
.live_search input#searchsubmit {
        background: #b93b6a;
    text-transform: uppercase;
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 5px 10px;
    margin: 0;
    border:1px solid #b93b6a;
    transition: background 0.5s ease-in-out;
}
.live_search input#searchsubmit:hover {
    color:#b93b6a;
    background: #fff;
    cursor: pointer;
    margin-left: -5px;
    
}




/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/
.site_footer {
  background-color: #2a101b;  
    position: relative;
    z-index: 9;
}
.site_footer .wrapper {
    width: 92%;
    margin: 0 auto;
    padding-top:50px;
    padding-bottom: 50px;
}
.footer_menus {
    text-align: center;
}
.footer_menus > div {
    display: inline-block;
    width: 16.6%;
    margin-left:-1%;
    vertical-align: top;
    text-align: center;
}
.footer_menus h5 {
    text-transform: uppercase;
    font-size: 14px;
    color:#fff;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.5em;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}
.footer_menus ul.menu li {
    line-height: 2em;
    font-size: 14px;
    letter-spacing: 1px;
}
.footer_menus ul.menu li a{
    color:rgba(255, 255, 255, 0.7);
}
.footer_menus#desktop {
    display: block;
}
.footer_menus#mobile {
    display: none;
}
.footer_social {
    width: 100%;
    text-align: center;
    padding-top: 50px;
}
.footer_social img {
    width: 20px;
    margin: 0 auto;
    margin-left: 5px;
    margin-right: 5px;
}
/*--------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/

.site_header {
    background-color: #fff;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    position:fixed;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    z-index: 99;
}
.site_header .wrapper {
    width: 95%;
    margin: 0 auto;
}
.site_header .branding {
    width: 226px;
    float: left;
    margin-right: 50px;
    padding-top: 11px;
}
.site_header .branding img {
    width:100%;
}

.site_navigation {
    width: -webkit-calc(100% - 276px);
    width: -moz-calc(100% - 276px);
    width: calc(100% - 276px);
    margin-right: 0;
    margin-left: auto;
    float: left;
    padding-top: 23px;
}
ul.mega-sub-menu {
    min-height: 150px !important;
    padding-top: 20px !important;
    padding-left: 25px !important;
}
.site_navigation ul#menu-main-menu  {
    text-align: center;
    
}
.site_navigation ul#menu-main-menu li {
   display: inline-block; 
    vertical-align: middle;
    margin-left: 1.5em;
    margin-right: 1.5em;
    text-transform: uppercase;
    font-size: 15.5px;
    font-weight: 400;
}
li#wpmenucartli {
        position: absolute !important;
    top: -19px !important;
    right: 0 !important;
}
div#gtranslate_wrapper {
    right: 175px !important;
}
/*--------------------------------------------------------------
# FRONT PAGE
--------------------------------------------------------------*/
.hero {
    width: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: background-position 0.5s ease-in-out;
    display: flex;
  align-items: center;
  justify-content: center;
    position: relative;
}
.swiper-button-next, .swiper-button-prev {
    display: none !important;
}
.hero .overlay {
    position: absolute;
    background: rgba(42, 16, 27, 0.6);
    width: 100%;
    height: 100%;
}
.hero .cta {
    /*position: absolute;*/
    text-align: center;
/*    left: 50%;
    transform: translateX(-50%);*/
    text-align: center;
    width: 90vw;
    
}
.hero .cta h2 {
    margin-bottom: 20px;
    margin-top: 0;
    width: 100%;
    
}
body.tax-product_cat .hero .overlay,
body.search .hero .overlay{
        display: flex;
    align-items: center;
}
.hero .cta h4 {
font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #b93b69;
    /* font-family: 'Merriweather', serif; */
    transition: background 0.5s ease-in-out;
    padding: 14px 28px;
    padding-top: 18px;
    border: 2px solid white;
    width: fit-content;
    text-align: center;
    /* float: right; */
    /* margin: auto; */
    margin: auto;
    margin-top: 44px;
    width: 402px;
    background: #fff;
    font-weight: bold;
    transition: background 0.5s ease-in-out;
}
.hero .cta h4:hover {
    color:#fff;
    background: #b93b69;
    border: 2px solid #b93b69;
}
.hero h2 {
    font-size: 47px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
}
.hero h2.purp {
    color:#b93b6a;
    font-weight: 400;
}

.hero p {
    color: white;
    font-size: 24px;
    letter-spacing: 5px;
    margin-top: -3px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
}
/*
.hero:hover {
    background-position: bottom center;
}
*/
.hero.hero_lg {
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero.hero_med {
    height: 450px;
}
.hero.hero_sm {
    height: 350px;
}

.our_brand {
    padding-top: 100px;
    padding-bottom: 140px;
    text-align:center;
}
.our_brand h2 {
    font-size: 32px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color:#2a101b;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 50px;
}
.our_brand p {
    font-size: 14px;
    letter-spacing: 1.5px;
    color:#484a4c;
    font-family: 'Merriweather', serif;
}
.our_brand ul {
    margin-top: 20px;
    margin-bottom: 40px;
}
.our_brand ul li {
    display: inline-block;
    border-left:1px solid rgba(185, 59, 106, 0.5);
    font-size: 14px;
    letter-spacing: 1px;
    color:#b93b6a;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
}
.our_brand ul li:first-child {
    border-left: 0;
}
.social_wall {
    overflow: hidden;
        position: relative;
}
.social_wall .wallpaper {
    float: left;
    width: 25%;
    height: 250px;
        background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;

}
.social_wall .wallpaper:hover {
    opacity: 0.9;
}
.social_wall_icons {
    position: absolute;
    left: 0;
    right:0;
    top:0;
    bottom: 0;
    margin:auto;
    text-align: center;
    display: flex;
  align-items: center;
  justify-content: center;
}
.social_wall_icons img {
    margin-left: 7px;
    margin-right: 7px;
    width: 40px;
}
.product_collections {
    min-height: 450px;
}
.collect_four {
    overflow: hidden;
    display: none;
}
.collect_four div.hero {
    width: 25%;
    float: left;
    text-align: center;
    transition: opacity 0.5s ease;
    opacity:1;
    position: relative;
}
.collect_four .hero .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(130, 37, 94, 0.45);
    padding-top: 25px;
}
.collect_four .hero .overlay:hover {
    background-color: rgba(130, 37, 94, 0.85);
}
.collect_four .hero .overlay p  {
        font-size: 15px;
    letter-spacing: 1.5px;
    line-height: 2em;
    color: #fff;
    font-family: 'Merriweather', serif;
    text-align: center;
    width: 85%;
    margin: 0 auto;
}

.collect_four div.hero h2 {
    line-height: 1.75em;
    font-size: 24px;
}



/*--------------------------------------------------------------
# INNER PAGE
--------------------------------------------------------------*/
.inner_content {
    padding-top: 100px;
    overflow: hidden;
}
.inner_content figure {
    float: left;
}
.inner_content h1{
        font-size: 32px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #b93b6a;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 20px
}
.inner_content .top_portion {
    background: #fff;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 100px;
}
.inner_content .top_portion ul li {
        font-size: 14px;
    letter-spacing: 1.5px;
    line-height: 3.5em;
    color: #484a4c;
    font-family: 'Merriweather', serif;
    padding-left: 15px;
}
.inner_content .top_portion ul li:before {
    content: url('/wp-content/themes/emagid/assets/img/dot.png');
    display: inline-block;
    vertical-align: middle;
    line-height: 3em;
    margin-right: 20px;
}
.inner_content .lower_portion {
    background: #f7f7f7;
    padding-top: 100px;
    padding-bottom: 100px;
}
.inner_content .lower_portion .wrapper{
    width: 80%;
    margin: 0 auto;
}
.inner_content .lower_portion h4 {
        font-size: 24px;
    letter-spacing: 1px;
    color: #b93b6a;
    font-weight: 100;
    margin-top: 0;
}
.inner_content .lower_portion p,
.inner_content .top_portion p{
            font-size: 14px;
    letter-spacing: 1.5px;
    line-height: 2em;
    color: #484a4c;
    font-family: 'Merriweather', serif;
    padding-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.inner_content .lower_portion p strong {
    color: #b93b6a;
}
.inner_content .blog_box_content p {
    line-height: 1.25em;
    width: 94%;
    margin: 10px auto 0 ;
}

/*BLOG*/

.blog_container {
    overflow: hidden;
    width: 100%;
}
.blog_box {
    width: 29.3%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    height: 450px;
    margin-bottom: 100px;
}
.blog_box_bg {
    height: 300px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.blog_box_content {
    height: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
        background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}
.blog_box_content h2 {
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #b93b6a;
    font-weight: 300;
    margin: 0 auto;
    width: 90%;
    line-height: 1.25em;
}


/*RESPONSIVE MENU*/
#responsive-menu-container {
    padding-top: 100px !important;
}
#responsive-menu-container li#wpmenucartli{
    margin-left: 0 !important;
}



/*CONTACT PAGE*/
.contact_content {
    padding-top: 0;
}
.contact_container .header {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    
}
.contact_container .header h3 {
    font-size: 28px;
    letter-spacing: 1px;
    color: #b93b6a;
    font-weight: 400;
    margin: 0 auto;
}
.contact_container .header h2 {
            font-size: 20px;
    letter-spacing: 1px;
    color: #2a101b;
    margin-top: 40px;
    font-weight: 300;
}
.contact_board {
    width: 100%;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.contact_board .board {
    text-align: center;
    width: calc(33.3% - 1px);
    float: left;
    border-left:1px solid rgba(0, 0, 0, 0.12);
}
.contact_board .board img {
    height: 100px;
    margin: 0 auto;
    
}


.contact_board .board h4 {
        font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #2a101b;
    font-weight: 400;
}
.contact_board .board p {
    line-height: 1.5em;
}
.contact_form {
    margin-top: 50px;
}
.fusion-one-third {
        width: 30.6666%;
    margin-right: 4%;
}
.contact_form {
    width: 600px;
    margin: 50px auto 0;
}
.fusion-layout-column {
    position: relative;
    float: left;
    margin-bottom: 20px;
}
.fusion-layout-column.fusion-spacing-yes.fusion-column-last {
        margin-left: 0;
    margin-right: 0;
}
.contact_form input[type="text"],
.contact_form input[type="tel"]{
    height: 35px;
    padding-left: 10px;
}
.contact_form input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
    width: 100% !important;
}

.contact_form textarea.wpcf7-form-control.wpcf7-textarea {
    width: 100% !important;
    height: 105px;
        border: 1px solid #cccccc !important;
    padding-left: 10px;
    padding-top: 10px;
}
.contact_form input.wpcf7-form-control.wpcf7-submit {
    display: block;
    background: #b93b6a !important;
    text-transform: uppercase;
    color: #fff !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    letter-spacing: 0.5px !important;
    text-align: center;
    padding: 15px 40px 14px !important;
    margin: 0;
    border-radius: 0 !important;
    font-family: 'Josefin Sans', sans-serif !important;
    outline: 0;
    border:0;
}


/*WOOCOMMERCE*/
.products_featured ul.products li.product {
    margin: 0;
    width: 29.4% !important;
} 
